@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.myButton {
    font-family: 'icomoon';
    position: relative;
    display: inline-block;
    padding: 12px 12px;
    margin: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size:15px;
    letter-spacing: 2px;
    border-radius: 24px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;
    color:#fff;
    left:1300px;
    top:32px;
    transition: padding 0.3s;
}
.myButton:hover {
    padding:12px 36px;
}
.mySpan {
    font-family: 'Poppins',sans-serif;
    position: absolute;
    background-color: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}